=content_for :top_name do 
  Каталог
-if can? :create, @product 
  %h2= link_to 'Новый товар' , new_product_path 
  
%table{:width => "727"}
  - @products.each do |product|
    %tr
      %td{'colspan' => 3}
        %h3= link_to product.title, product
      %tr  
        %td
          .image
            = image_tag product.photo.url(:thumb)
        %td
          .content
            =raw product.description
            = number_to_currency(product.price)
          %br
                
            = link_to 'Просмотр', product
            -if can? :update, @product 
              = link_to 'Редактирование' , edit_product_path(product)
            -if can? :delete, @product   
              = link_to 'Удаление', product, confirm: 'Вы уверены?', method: :delete             
