%p#notice= notice

.product
  = @product.title
  .image  
    = image_tag @product.photo.url(:thumb)
  .content 
    =raw @product.description 
    = number_to_currency(@product.price)
    
  = link_to 'Редактировать', edit_product_path(@product)
  \|
  = link_to 'Назад', products_path
