- if notice
  %p#notice= notice
- @products.each do |product|
  .product
    %h3= product.title
    .image
      = image_tag product.photo.url(:thumb)
    .content
      =raw product.description
      .price_line
        %span.price
          = number_to_currency(product.price) 
          = button_to 'В корзину', line_items_path(product_id: product), remote: true
       