!!!
%html
  %head
    %title Online Store
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags 
  %body
    #banner
      = image_tag("logo.png")
      = (@page_title || "Pragmatic Book shelf")
    #columns
      #side
        %ul
          %li
            %a{:href => "http://www..../contact"} Contact
          %li
            %a{:href => "http://www..../contact"} Contact
          %li
            %a{:href => "http://www..../contact"} Contact
          %li
            %a{:href => "http://www..../contact"} Contact
      #main
        = yield